
.main-container {
  position: relative;
  height: 100vh;
}
.calculator-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid #ccc;
  width: 200px;
}
.buttons-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}